
* {
    box-sizing: border-box;

    }

    body{
      margin: 0;
       padding: 0;
    font-family: 'Open Sans', sans-serif;
    }

ul {
list-style-type: none;
margin: 0;
padding: 0px;
overflow: hidden;
border: black;
background-color: #333
}

li {
float: left;
}

ul p{
    margin-right: 20px;
    margin-top: 30px;
    font-size: 30px;
}

li a {
display: block;
color: rgb(255, 255, 255);
text-align: center;
text-decoration: none;
transition: 0.3s;
margin: 0;
padding: 30px;
font-size: 31px;
height: 10px 10px;
padding-bottom: 40px;
padding-top: 40px;
}

li {
    margin: 0;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: rgb(34, 34, 34);
}

ul p{
margin-top: 20;
color: rgb(255, 255, 255);
padding: 1;
float: left;

}
/* Image */

.img {
    width: 700px;
}
