*{
    box-sizing: border-box ;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

/*NAV BAR*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
}

ul p {
    color: rgb(0, 0, 0);
    margin-left: 5px;
    margin-right: 20px;
    font-size: 30px;

}
  
li {
    float: left;
    border-right:1px solid black;
    border-left:1px solid black;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0;
    margin-top: 18px;
    font-size: 25px;
}
  
li a:hover {
    color: rgb(105, 105, 105);
}

/*IMAGE AND INGREDIENTS*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
    width: 3500px;
    border: 1px solid black;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 5px;
}

.image {
    flex-basis: 70%;
    order: 2;
}

.text {
    color: #000000;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: smaller;
}

.text strong{
    font-size: 70px;
    border: 1px solid black;
    background: yellow;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
